@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --darkBlue: #0C134F;
  --darkLightBlue: #19376D;
  --blue: #146C94;
  --lightBlue: #52bce5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;

}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
}